@import url(reset.css);
@import url(fonts.css);

* { box-sizing: border-box; }

body { margin: 48px 0; background: rgba(245,245,245,1); }
body, textarea, input, button { font-family: "M1c"; font-weight: 400; font-size: 14px; line-height: 20px; }

header { position: fixed; top: 0px; left: 0px; right: 0px; margin: 0; padding: 16px 16px 0 16px; height: 48px; background: rgba(32,135,221,1); border-bottom: 1px solid rgba(0,0,0,.15); z-index: 9; }
header h1 { font-size: 14px; color: rgba(255,255,255,1); font-weight: 500; }
header h1 a { color: rgba(255,255,255,1); }
header h1 a:hover { text-decoration: none; }
header:after, article:after, footer:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
header .ui-folder { display: none; position: absolute; top: 2px; right: 48px; width: 44px; height: 44px; background: url(../images/NavItemSharedFolder@2x.png) no-repeat; background-size: 44px; color: #fff; text-indent: -1000px; overflow: hidden; }
header .ui-folder:hover { text-decoration: none; }
header .ui-members { display: none; position: absolute; top: 2px; right: 96px; width: 44px; height: 44px; background: url(../images/NavItemMembers@2x.png) no-repeat; background-size: 44px; color: #fff; text-indent: -1000px; overflow: hidden; }
header .ui-members:hover { text-decoration: none; }
header .ui-boards { display: none; position: absolute; top: 2px; right: 2px; width: 44px; height: 44px; background: url(../images/NavItemBoard@2x.png) no-repeat; background-size: 44px; color: #fff; text-indent: -1000px; overflow: hidden; }
header .ui-boards:hover { text-decoration: none; }
header .ui-join { position: absolute; top: 6px; right: 160px; padding: 8px 24px; background: #fff; color: rgba(74,143,227,1); border-radius: 4px; }
header .ui-join:hover { text-decoration: none; }

body.room-active header .ui-folder,
body.room-active header .ui-members,
body.room-active header .ui-boards { display: block; }


footer { text-align: center; font-size: 12px; color: #aaa; }
footer a { color: #aaa; }

form { position: relative; margin-bottom: 32px; }

fieldset { margin: 0 auto 32px auto; padding: 32px; max-width: 512px; border-radius: 8px; }
fieldset input { margin-bottom: 8px;}
fieldset ul { margin-bottom: 8px; box-shadow: 0 1px 1px 0 rgba(0,0,0,.1); border-radius: 4px; max-height: 220px; overflow: auto; }
fieldset li { margin: 0; padding: 12px; background: #fff; border-bottom: 1px solid rgba(0,0,0,.05); }
fieldset li:first-child { border-radius: 4px 4px 0 0; }
fieldset li:last-child { border-radius: 0 0 4px 4px; border-bottom: none; }

body, article, textarea, input, button, div { box-sizing: border-box; }

input, textarea { display: block; margin: 0; padding: 12px; background: #fff; box-sizing: border-box;
  width: 100%; border: none; border-radius: 4px; box-shadow: 0 1px 1px 0 rgba(0,0,0,.1); }
input:focus { box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 0 0 2px rgba(81,158,244,.5); }
input[type="checkbox"] { display: inline; margin: 0 8px 0 0; width: auto; }
textarea { height: 48px; resize: none; overflow: hidden; }
textarea[name="text"] { height: 448px; }
::-webkit-input-placeholder { color: rgba(0,0,0,.3); }
:focus::-webkit-input-placeholder { color: rgba(0,0,0,.15); }
button { display: inline-block; float: right; margin: 0; padding: 12px 32px; border: none; background: #fff; color: #777; border-radius: 4px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1); }

h1 { font-size: 20px; }
p { margin-bottom: 8px; line-height: 1.3; }
li { margin-bottom: 4px; line-height: 1.3; }

.hidden { display: none; }

/* Layout */
.ui-master { position: fixed; top: 48px; right: 0px; bottom: 0px; width: 320px; background: #fff; border-left: 1px solid rgba(0,0,0,.2); }
.ui-detail { position: absolute; top: 48px; right: 320px; left: 0px; z-index: 1; }
.ui-detail-content { padding-bottom: 48px; }

/* Buttons */
.ui-button { display: inline-block; padding: 12px 32px; background-color: #fff; color: #777; border-radius: 4px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1); }
.ui-button:hover { text-decoration: none; }
.ui-button-leave { float: left; background-color: rgba(246,155,129,1); color: rgba(255,255,255,1); }

/* Auth */
.ui-auth { margin-top: 64px; }

/* Alert */
#alert { position: fixed; top: 0; left: 0; right: 0; z-index: 1; }
#alert p { padding: 16px 8px 0 8px; height: 48px; background: rgba(246,155,129,1); color: #fff; font-size: 14px; font-weight: 500; text-align: center; }
#alert a { color: #fff; text-decoration: underline; }

/* List */
.ui-list { margin-bottom: 48px; }
.ui-row { background: rgba(255,255,255,1); box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.1); }
.ui-row:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-row h4 a { display: block; padding: 12px 16px; color: rgba(0,0,0,1); }
.ui-row h4 a:hover { text-decoration: none; }
.ui-row .ui-subtitle { display: block; font-size: 12px; color: rgba(0,0,0,.5); font-weight: 300; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.ui-row-section { padding: 4px 16px; text-transform: uppercase; font-size: 12px; color: rgba(255,255,255,1); background-color: rgba(74,143,227,.4); font-weight: 500; }
.ui-row-add h4 a { color: rgba(74,143,227,1); }

.ui-row-selected { background: rgba(130,221,151,1); }
.ui-row-selected h4 a { color: #fff; }
.ui-row-selected .ui-subtitle { color: #fff; }

/* Message */
.ui-message { position: relative; padding: 8px 16px; border-bottom: 1px solid rgba(0,0,0,.1); background: #fff; }
.ui-message:last-child { border-bottom: none; }
.ui-message p { margin: 0; max-width: 960px; }
.ui-message-user { color: rgba(32,135,221,1); }
.ui-message-images { display: block; margin-top: 8px; }
.ui-message-image { display: inline-block; width: 256px; height: 256px; background-color: #ddd; background-size: 256px; background-repeat: no-repeat; background-position: 50% 50%; border-radius: 6px; }
.ui-message-stickers { display: block; }
.ui-message-sticker { display: inline-block; width: 96px; height: 96px; background-size: 96px; background-repeat: no-repeat; background-position: 50% 50%; }
.ui-message-command { background-color: rgba(0,0,0,.02); color: rgba(0,0,0,.3); font-style: italic; text-align: center; }
.ui-message-command p { max-width: none; }

/* Pages */
.page-room { background: rgba(255,255,255,1); }
.page-room footer { display: none; }

/* Room Form */
.ui-room-form { position: fixed; display: none; bottom: 0px; right: 320px; left: 0px; margin: 0; height: 48px; background: rgba(255,255,255,1);
  border-top: 1px solid rgba(0,0,0,.15); }
.ui-room-form input { box-shadow: none; background: none; }
body.room-active .ui-room-form { display: block; }

.ui-icon { display: block; float: left; margin: 4px 8px 0 0; width: 32px; height: 32px; background: url(../images/Sprite@2x.png) 0 0 no-repeat; background-size: 32px auto; background-position: 0 0; }
.ui-icon-folder { background-position: 0 -32px; }
.ui-icon-shared-folder { background-position: 0 -64px; }
.ui-icon-package { background-position: 0 -416px; }
.ui-icon-sketch { background-position: 0 -256px; }
.ui-icon-xls,
.ui-icon-xlsx { background-position: 0 -224px; }
.ui-icon-css,
.ui-icon-html { background-position: 0 -288px; }
.ui-icon-go,
.ui-icon-m,
.ui-icon-c,
.ui-icon-swift,
.ui-icon-js { background-position: 0 -320px; }
.ui-icon-ppt,
.ui-icon-pptx,
.ui-icon-key { background-position: 0 -384px; }
.ui-icon-gif,
.ui-icon-png,
.ui-icon-jpeg,
.ui-icon-jpg { background-position: 0 -352px; }
.ui-icon-gdoc { background-position: 0 -544px; }
.ui-icon-gslides { background-position: 0 -576px; }
.ui-icon-gsheet { background-position: 0 -608px; }

.ui-watermark { margin: 64px auto; width: 256px; height: 256px; background: url(../images/Watermark.png) 0 0 no-repeat; background-size: 256px; }

/* Profile */
.ui-profile { display: block; float: left; margin-right: 8px; width: 36px; height: 36px; background: rgba(0,0,0,.2); border-radius: 18px; }

/* Presence */
.ui-presence-active { display: inline-block; margin-left: 4px; width: 8px; height: 8px; background: rgba(125,224,149,1); border-radius: 4px; }

@media (max-width : 600px) {
  body, textarea, input, button { font-size: 14px; line-height: 20px; }
  fieldset { margin: 0 auto 32px auto; padding: 16px; }
  .ui-watermark { margin: 0 auto; width: 96px; height: 96px; background-size: 96px; }
  .ui-auth { margin-top: 32px; }

  .ui-master { right: 0px; width: auto; border-right: none; }
  .ui-detail { left: 0; right: 0px; }
  .ui-room-form { left: 0; }
}
