<!DOCTYPE html>
<html>
<head>
  {{template "title" "Register"}}
  {{template "header"}}
</head>

<body>

<div class="ui-watermark"></div>

<article class="ui-auth">
  <form action="/register" method="post">
    <fieldset>
      <input type="text" name="name" placeholder="Name" class="ux-focus">
      <input type="email" name="email" value="{{if .}}{{.user.Email}}{{end}}" placeholder="Your email address">
      <input type="password" name="password" value="" placeholder="Your password">
      <button type="submit">Register</button>
    </fieldset>
  </form>
</article>

<footer>
  <a href="/login">Sign into an existing account</a>
</footer>

</body>
</html>
