<!DOCTYPE html>
<html>
<head>
  {{template "title" .room.Name}}
  {{template "header"}}
</head>

<body>

<header>
  <h1>{{.room.Name}} Boards</h1>
</header>

<article>

  <div class="ui-list">
    <div class="ui-row ui-row-add">
      <h4>
        <a href="/b/{{.room.Hash}}/create">
          <span class="ui-title">Create Board</span>
        </a>
      </h4>
    </div>
    {{range .boards}}
      {{template "renderBoard" .}}
    {{end}}
  </div>
</article>

{{template "alert"}}
{{template "footer" .}}

</body>
</html>
