<!DOCTYPE html>
<html>
<head>
  {{if .room.Kind|eq "oneonone"}}
    {{template "title" "Private"}}
  {{else}}
    {{template "title" .room.Name}}
  {{end}}

  {{template "header"}}
</head>

<body class="page-room">

<header>
  {{if .room.Kind|eq "oneonone"}}
    <h1>Private</h1>
  {{else}}
    <h1><a href="/r/{{.room.Hash}}/edit">{{.room.Name}}</a></h1>
  {{end}}

  {{if .isMember}}
  {{else}}
    <a class="ui-join" href="/r/{{$.room.Hash}}/join">Join</a>
  {{end}}

  <a class="ui-boards" href="/r/{{.room.Hash}}/boards">Boards</a>
  <a class="ui-folder" href="/r/{{.room.Hash}}/folder">Folder</a>
  {{if .room.Kind|eq "oneonone"}}
  {{else}}
  <a class="ui-members" href="/r/{{.room.Hash}}/members">Members</a>
  {{end}}
</header>

<article>
  <div class="ui-list">
  </div>

  {{if .isMember}}
  <form action="/m/save" method="post" class="ui-room-form" autocomplete="off">
    <p><input type="text" name="text" value="" placeholder="Say something..." class="ux-focus" autocomplete="off"></p>
    <input type="hidden" name="room" value="{{$.room.Hash}}">
    <button type="submit" class="hidden">Post</button>
  </form>
  {{end}}
</article>

{{template "alert"}}
{{template "footer" .}}

</body>
</html>
