<!DOCTYPE html>
<html>
<head>
  {{template "title" "Create new room"}}
  {{template "header"}}
</head>

<body>

<header>
  <h1>Create room</h1>
</header>

<article>
  <form action="/r/save" method="post">
    <fieldset>
      <p><input type="text" name="name" value="" placeholder="Name" class="ux-focus"></p>
      <ul>
        {{range .users}}
          {{if $.user.Hash|ne .Hash}}
          <li><label><input type="checkbox" name="members" value="{{.Hash}}"> {{.Name}}</label></li>
          {{end}}
        {{end}}
      </ul>
      <p><input type="text" name="folder" value="" placeholder="/Shared/Folder/Path"></p>
      <button type="submit">Create</button>
    </fieldset>
  </form>
</article>

{{template "alert"}}
{{template "footer" .}}

</body>
</html>
