<!DOCTYPE html>
<html>
<head>
  {{template "title" "Spaces"}}
  {{template "header"}}
</head>

<body>

<header>
  <h1>Spaces</h1>
</header>

<article>
  <div class="ui-list">
    {{range .rooms}}
      {{template "renderRoom" .}}
    {{end}}

    {{if .joinable}}
      <div class="ui-row-section">Joinable</div>

      {{range .joinable}}
        {{template "renderRoom" .}}
      {{end}}
    {{end}}

    {{if .users}}
      <div class="ui-row-section">People</div>
      {{range .users}}
        {{template "renderUser" .}}
      {{end}}
    {{end}}
  </div>
</article>

{{template "alert"}}
{{template "footer" .}}

</body>
</html>
