<!DOCTYPE html>
<html>
<head>
  {{template "title" .room.Name}}
  {{template "header"}}
</head>

<body class="page-room">

<header>
  <h1><a href="/r/{{.room.Hash}}/edit">{{.room.Name}}</a></h1>

  {{if .authUser.Hash|memberOf $.room.Hash}}
  {{else}}
    <a class="ui-join" href="/r/{{.room.Hash}}/join">Join</a>
  {{end}}

  <a class="ui-folder" href="/r/{{.room.Hash}}/folder">Folder</a>
  <a class="ui-members" href="/r/{{.room.Hash}}/members">Members</a>
</header>

<article>
  <div class="ui-list">
  </div>

  {{if .authUser.Hash|memberOf $.room.Hash}}
  <form action="/m/save" method="post" class="ui-room-form" autocomplete="off">
    <p><input type="text" name="text" value="" placeholder="Say something..." class="ux-focus" autocomplete="off"></p>
    <input type="hidden" name="room" value="{{.room.Hash}}">
    <button type="submit" class="hidden">Post</button>
  </form>
  {{end}}
</article>

{{template "alert"}}
{{template "footer" .}}

</body>
</html>
