<!DOCTYPE html>
<html>
<head>
  {{template "title" "Create new room"}}
  {{template "header"}}
</head>

<body>

<header>
  <h1>{{if .room}}Edit {{.room.Name}}{{else}}Create Room{{end}}</h1>
</header>

<article>
  <form action="/r/save" method="post">
    <fieldset>
      <p><input type="text" name="name" value="{{if .room}}{{.room.Name}}{{end}}" placeholder="Name"{{if $.room}}{{else}} class="ux-focus"{{end}}></p>
      <p><input type="text" name="folder" value="{{if .room}}{{.room.Folder}}{{end}}" placeholder="/Shared/Folder/Path"></p>
      {{if .room}}{{else}}
      <ul>
        {{range .users}}
          {{if $.user.Key|ne .Key}}
            <li><label><input type="checkbox" name="members" value="{{.Key}}"> {{.Name}}</label></li>
          {{end}}
        {{end}}
      </ul>
      {{end}}
      <p><input type="hidden" name="hash" value="{{if .room}}{{.room.Hash}}{{end}}"></p>
      <button type="submit">{{if .room}}Save{{else}}Create{{end}}</button>
      {{if .room}}
      <a class="ui-button ui-button-leave" href="/r/{{.room.Hash}}/leave">Leave</a>
      {{end}}
    </fieldset>
  </form>
</article>

{{template "alert"}}
{{template "footer" .}}

</body>
</html>
