<!DOCTYPE html>
<html>
<head>
  {{template "title" "Skit"}}
  {{template "header"}}
</head>

<body>

<header>
  <h1>Create room</h1>
</header>

<article>
  <form action="/r/save" method="post">
    <fieldset>
      <p><input type="text" name="name" value="" placeholder="Name"></p>
      <p><input type="text" name="users" value="" placeholder="People"></p>
      <p><input type="text" name="folder" value="" placeholder="/Shared/Folder/Path"></p>
      <button type="submit">Create</button>
    </fieldset>
  </form>
</article>

{{template "alert"}}
{{template "footer" .}}

</body>
</html>
